<nav class="flex border dark:border-gray-700 rounded-lg w-full" aria-label="Breadcrumb">
  <ol class="inline-flex items-center p-4">
    <% @breadcrum_list.each do |option| %>
      <% if option[:title_location].present? %>
        <li>
          <div class="flex items-center">
            <%= link_to option[:title], option[:title_location], class: 'text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200' %>
            <svg class="w-3 h-3 text-gray-400 mx-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
          </div>
        </li>
      <% else %>
        <li aria-current="page">
          <div class="flex items-center">
            <span class="text-sm font-medium text-gray-500 dark:text-gray-400"><%= option[:title] %></span>
          </div>
        </li>
      <% end %>
    <% end %>
  </ol>
</nav>
