<%= turbo_frame_tag "show_default_modal" do %>
  <div class="opacity-25 fixed inset-0 z-[60] bg-black" id="edit-category-backdrop"></div>
  <div id='edit-category' class="overflow-x-hidden flex overflow-y-auto fixed inset-0 z-[60] outline-none focus:outline-none justify-center items-center">
    <div class="relative w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <header class="flex justify-between p-4 border-b">
          <p class="text-lg font-semibold text-gray-700 dark:text-gray-300" onclick='toggleModal("edit-category")'>
            Edit Category
          </p>
          <button type='button' class="inline-flex items-center justify-center w-6 h-6 text-gray-400 transition-colors duration-150 rounded dark:hover:text-gray-200 hover: hover:text-gray-700" data-controller="toggle_modal" data-action="click->toggle_modal#toggleModal" data-toggle-modal-argument="edit-category">
            <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" role="img" aria-hidden="true" data-controller="toggle_modal" data-action="click->toggle_modal#toggleModal" data-toggle-modal-argument="edit-category">
              <path d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
            </svg>
          </button>
        </header>
        <!-- Modal body -->
        <%= render partial: 'portal/categories/turbo_form', locals: { category: @category, method: :put, url: portal_category_path(@category) } %>
      </div>
    </div>
  </div>
<% end %>
